<div class="bg-gray-900 text-white w-full">
  <app-header></app-header>
  <app-home-hero-section #whatWeDo></app-home-hero-section>
  <app-home-what-we-do></app-home-what-we-do>

  @defer (on viewport(whatWeDo)) {
  <app-area-of-expertise></app-area-of-expertise>
  } @placeholder {
  <div style="height: 1296px;" class="bg-[#ffffff]"></div>
  }
  <span #areaOfExpertise></span>

  @defer (on viewport(whatWeDo)) {
  <app-our-products></app-our-products>
  } @placeholder {
  <div style="height: 1242px;" class="bg-[#12423C]"></div>
  }
  <span #ourProducts></span>

  @defer (on viewport(whatWeDo)) {
  <app-about-us></app-about-us>
  } @placeholder {
  <div style="height: 777px;" class="bg-[#EAF5F4]"></div>
  }
  <span #aboutUs></span>

  @defer (on viewport(whatWeDo)) {
  <app-global-impact></app-global-impact>
  } @placeholder {
  <div style="height: 800px;" class="bg-[#ffffff]"></div>
  }
  <span #globalImpact></span>

  @defer (on viewport(whatWeDo)) {
  <app-trusted-leaders></app-trusted-leaders>
  } @placeholder {
  <div style="height: 332px;" class="bg-[#12423C]"></div>
  }
  <span #trustedLeaders></span>

  @defer (on viewport(whatWeDo)) {
  <app-recent-blogs></app-recent-blogs>
  } @placeholder {
  <div style="height: 958px;" class="bg-[#EAF4F2]"></div>
  }

  <app-footer></app-footer>
  <app-scroll-to-top></app-scroll-to-top>
  <app-scroll-indicator></app-scroll-indicator>
</div>