<div class="text-white w-full">
  <app-header></app-header>
  <app-about-us-hero-section></app-about-us-hero-section>
  <div
    *ngIf="loading"
    class="max-w-3xl mx-auto w-full space-y-8 animate-pulse px-6 py-12"
  >
    <button
      [routerLink]="['/aboutUs/']"
      class="common flex items-center mb-4"
      style="height: 45px"
    >
      &larr; <span class="text-sm ml-2">Back to Team</span>
    </button>

    <div class="text-left space-y-2">
      <div class="h-8 bg-gray-300 rounded w-3/4"></div>
      <!-- Name -->
      <div class="h-4 bg-gray-300 rounded w-1/3"></div>
      <!-- Designation -->
    </div>

    <!-- Skeleton Image -->
    <div class="w-full">
      <div
        class="w-full h-64 bg-gray-300 rounded-lg shadow-md border border-gray-200"
      ></div>
    </div>

    <!-- Skeleton Description -->
    <div class="space-y-2">
      <div class="h-4 bg-gray-300 rounded w-full"></div>
      <div class="h-4 bg-gray-300 rounded w-11/12"></div>
      <div class="h-4 bg-gray-300 rounded w-4/5"></div>
    </div>

    <!-- Skeleton Social Icon -->
    <div class="flex space-x-4">
      <div class="w-9 h-9 bg-gray-300 rounded-full"></div>
    </div>
  </div>
  <app-member *ngIf="!loading" [member]="member"></app-member>
  <app-footer></app-footer>
</div>
