<section class="max-w-screen-xl mx-auto px-4 py-12 lg:py-20 bg-[#ffffff]" style="font-family: 'Manrope', 'Open Sans', sans-serif">
    <!-- Block #1: Image Right, Text Left -->
    <div class="flex flex-col-reverse lg:flex-row items-center lg:space-x-8">
      <!-- Left Column: Text -->
      <div class="w-full lg:w-1/2 mt-8 lg:mt-0 fade-in-left" #observeSection>
        <h1 class="text-4xl md:text-4xl font-semibold text-[#000000] mb-4">
          A Single Source Of Truth For All.
        </h1>
        <p class="text-base md:text-lg text-gray-700 leading-relaxed">
          A single source of truth (SSOT) is a crucial strategy in ensuring
          data integrity, consistency, and accessibility across an
          organization. By centralizing data into one authoritative
          repository, organizations can mitigate the risks associated with
          data silos, where disparate systems and databases hold conflicting
          or outdated information.
        </p>
        <p class="mt-4 text-base md:text-lg text-gray-700 leading-relaxed">
          SSOT enhances decision-making by providing stakeholders with
          reliable and up-to-date data, reducing transparency and trust. It
          also streamlines compliance with regulatory requirements by
          maintaining a comprehensive, auditable trail of data activities.
          In essence, SSOT is a foundational element in modern information
          governance, driving efficiency, reducing redundancy, and enabling
          robust data privacy and security measures.
        </p>
      </div>
      <!-- Right Column: Image -->
      <div class="w-full lg:w-1/2 flex justify-center lg:justify-end fade-in-right" #observeSection>
        <!-- Replace with your actual image source -->
        <img src="product-4ig1.png"
             alt="Dashboard Preview"
             class="w-full h-auto max-w-md lg:max-w-none" />
      </div>
    </div>

  <!-- Spacer between blocks -->
  <div class="mt-12"></div>



  <div class="mt-12 grid grid-cols-1" data-aos="fade-up" data-aos-duration="800">
    <div class="w-full h-[1px] bg-[#9BAAB0]"></div>
  </div>

  <div #countUpElements class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-16 text-center mr-8">
    <div data-aos="fade-up" data-aos-delay="200">
      <h3 #countUp class="text-3xl font-bold text-gray-900 count-up" data-count="50">0 +</h3>
      <p class="text-gray-500">Data Connectors</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="300">
      <h3 #countUp class="text-3xl font-bold text-gray-900 count-up" data-count="600">0 +</h3>
      <p class="text-gray-500">PXI Definitions</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="400">
      <h3 #countUp class="text-3xl font-bold text-gray-900 count-up" data-count="1500">0 +</h3>
      <p class="text-gray-500">Retention Policies</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="500">
      <h3 #countUp class="text-3xl font-bold text-gray-900 count-up" data-count="10">0 +</h3>
      <p class="text-gray-500">Pbs Data Under Management</p>
    </div>
  </div>
</section>