section {
  overflow-y: hidden;
}
.fade-in-left, .fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-left {
  transform: translateX(-50px);
}

.in-view {
  opacity: 1;
  transform: translateX(0);
}
