<section class="scroll-bg-transition py-16 px-6 md:px-12 lg:px-24" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-6xl mx-auto">
    <!-- Section Title -->
     <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <!-- Left: Heading & Paragraph -->
      <div class="fade-in-left"  #observeSection>
        <h2 class="text-4xl font-semibold text-[#12423C] mb-6 text-left">
         Introducing 4iG's Dynamic Retention Feature: Your Ultimate Compliance Solution!
        </h2>
        <p class="mt-4 text-lg text-[#1E2D2F]">
          Empower your organization to navigate complex regulatory landscapes with confidence using 4iG’s innovative
        Dynamic Retention module. Designed to streamline compliance efforts, this cutting-edge tool enables
        organizations to craft and enforce retention and data destruction policies effortlessly, ensuring adherence to
        laws and regulations that impact their operations. It provides you access to over 1400 meticulously curated
        Comprehensive Templates, Automated Examination, Flexible Policy Implementation, Robust Logging and audit
        tracking, Extensive Data Connectors
        <br><br>
        With 4iG Dynamic Retention processes are fortified to withstand even the most rigorous scrutiny, providing peace
        of mind and confidence in your compliance posture. Experience the power of compliance simplification with 4iG’s
        Retention feature. Stay ahead of regulatory challenges, mitigate risks, and elevate your organization’s
        compliance journey with ease. Unlock your path to compliance excellence with 4iG® !
        </p>
      </div>

      <!-- Right: Image -->
      <div class="flex justify-center md:justify-end fade-in-right" #observeSection>
        <img src="dataretention_about.svg" alt="eDiscovery Illustration" class="w-[35rem]">
      </div>
    </div>
  </div>
</section>

