<div class="bg-[#ffffff] text-white w-full">
  <app-header></app-header>
  <app-products-hero-section [product]="'breach-profiler'"></app-products-hero-section>
  <app-products-breach-product></app-products-breach-product>
  <app-products-breach-list></app-products-breach-list>
  <app-products-breach-advantages></app-products-breach-advantages>
  <app-products-breach-features></app-products-breach-features>
  <app-trusted-leaders></app-trusted-leaders>
  <app-footer></app-footer>
  <app-scroll-to-top></app-scroll-to-top>
  <app-scroll-indicator></app-scroll-indicator>
</div>
