<section class="scroll-bg-transition py-16" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-6xl mx-auto">
    <!-- Section Title -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <!-- Left: Heading & Paragraph -->
      <div class="fade-in-left"  #observeSection>
        <h2 class="text-4xl font-semibold text-[#12423C] mb-6 text-left">
          Unified Archival
        </h2>
        <p class="mt-4 text-lg text-[#1E2D2F]">
         4iG Unified Archival module simplifies the daunting task of managing and preserving data across diverse sources
        and formats. It natively and seamlessly integrates with your existing systems, offering a centralized solution
        for storing, organizing, and retrieving data efficiently. It ensures compliance with regulatory requirements by
        implementing your tailored information governance policies, robust security measures and access controls. It
        optimizes data storage footprint through intelligent data deduplication and compression techniques, reducing
        costs associated with digital infrastructure.
        <br><br>
        4iG Unified Archival facilitates easy searching and retrieval of archived data, enhancing productivity and
        decision-making processes. Its automated workflows streamline archival procedures, reducing manual effort and
        minimizing human error. The solution supports scalability, accommodating growing data volumes and evolving
        business needs. By providing a single point of access for all archived data it preserves data integrity and
        boosts operational efficiency & regulatory compliance for organizations of all sizes.
        </p>
      </div>

      <!-- Right: Image -->
      <div class="flex justify-end fade-in-right" #observeSection>
        <img src="unifiedarchival_about.svg" alt="unifiedarchival Illustration" class="w-[35rem]">
      </div>
    </div>
  </div>
</section>
