<div class="bg-[#ffffff] text-white w-full">
    <app-header></app-header>
    <app-products-hero-section [product]="'obscure-pi'"></app-products-hero-section>
    <app-products-obscure-product></app-products-obscure-product>
    <app-products-obscure-list></app-products-obscure-list>
    <app-products-obscure-advantages></app-products-obscure-advantages>
    <app-products-obscure-features></app-products-obscure-features>
    <app-trusted-leaders></app-trusted-leaders>
    <app-footer></app-footer>
    <app-scroll-to-top></app-scroll-to-top>
    <app-scroll-indicator></app-scroll-indicator>
</div>
