<section class="w-full py-16 scroll-bg-transition">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center">
        <!-- Left Column: Image -->
        <div class="md:w-1/2 fade-in-left" #observeSection>
            <!-- Replace with your own image URL -->
            <img src="partner2.png" alt="Laptop" class="w-full h-auto object-cover" />
        </div>

        <!-- Right Column: Text Content -->
        <div class="md:w-1/2 px-6 md:px-12 py-8 fade-in-right" #observeSection>
            <h2 class="text-4xl md:text-4xl font-semibold text-[#12423C] mb-6">
                What Infinium Partners Can Expect?
            </h2>
            <p class="text-gray-700 mt-4 text-lg mb-4 leading-relaxed">
                Infinium works with top eDiscovery, privacy, and other consultants
                whose global, national or multi-national clients manage data, but
                is business highly regulated industries, or encounter serial
                litigations—and we profoundly improve end-to-end data governance
                practices for a multitude of use cases.
            </p>
            <p class="text-gray-700 mt-4 text-lg leading-relaxed">
                Our Partner program is so powerful it’ll you accelerate sales
                growth, and our approach shares your success—and your clients’.
            </p>
        </div>
    </div>
</section>
