<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<section class="relative -mt-20 pb-16" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-6xl mx-auto p-[1rem] sm:p-0">
    <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg p-8 px-4 sm:px-12">
      <h3 class="text-center text-lg font-semibold mb-6 text-[#12423C]">Send Us Message</h3>
      <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()" id="contactForm" class="space-y-4">
        <!-- First & Last Name -->
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
          <div class="relative">
            <label class="block text-[#12423C] text-sm mb-1">
              Full Name<span class="text-red-600">*</span>
            </label>
            <input type="text" id="firstName" formControlName="name"
              [ngClass]="submitted && contactUsForm.get('name')?.invalid ? invalidStyle : baseStyle"
              placeholder="Full Name" required />
          </div>

        </div>
        <!-- Email & Phone -->
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
          <div>
            <label class="block text-[#12423C] text-sm mb-1">Email <span class="text-red-600">*</span></label>
            <input type="email" id="email" formControlName="email" placeholder="Email" required
              [ngClass]="submitted && contactUsForm.get('email')?.invalid ? invalidStyle : baseStyle" />
            <!-- <div *ngIf="isInValid" class="text-[red]">This is required !</div> -->
          </div>

        </div>
        <!-- Description -->
        <div>
          <label class="block text-[#12423C] text-sm mb-1">Description <span class="text-red-600">*</span></label>
          <textarea id="message" rows="4" formControlName="description" placeholder="Write Message . . ."
            [ngClass]="submitted && contactUsForm.get('description')?.invalid ? invalidStyle : baseStyle"
            required></textarea>
          <!-- <div *ngIf="isInValid" class="text-[red]">This is required !</div> -->
        </div>
        <!-- Captcha -->
        <div *ngIf="isShowCaptchaCode == true" class="flex flex-col items-end gap-3 md:flex-row md:justify-end md:gap-0">
          <div class="flex items-center">
            <div class="tooltip-container md:ms-auto">
              <span class="info-icon font-bold">i</span>
              <div class="tooltip-text">
                Please enter the CAPTCHA exactly as shown!
              </div>
            </div>
            <div class="flex items-center justify-between gap-2.5 font-extrabold text-xl bg-gray-100 p-1 rounded-md ml-2">
              <canvas #captchaCanvas width="120" height="30"></canvas>
              <button type="button" (click)="generateCaptcha()">⟳</button>
            </div>
          </div>
          <input type="text" formControlName="captcha" placeholder="CAPTCHA"
            [ngClass]="submitted && (contactUsForm.get('captcha')?.value?.length === 0) ? captchaInvalidStyle : captchaBaseStyle" />
        </div>
        <p class="text-sm">By clicking submit, I agree to the <a [routerLink]="['/privacy-policy']"
            class="text-blue-600 underline hover:text-blue-800 transition-colors duration-200">privacy policy</a> and to
          receive communications from Infinnium.</p>
        <!-- Submit Button -->
        <button type="submit" [disabled]="isLoading || contactUsForm.invalid" [ngClass]="{
            'inValidInput': isLoading || contactUsForm.invalid
          }"
          class="w-full bg-[#E76F51] text-[#ffffff] py-3 text-md font-normal rounded-3xl transition duration-300 ease-in-out hover:bg-[#D65C3D]">
          <ng-container *ngIf="!isLoading; else loader">
            Submit
          </ng-container>
          <ng-template #loader>
            <div class="dot-loader">
              <span></span><span></span><span></span>
            </div>
          </ng-template>
        </button>
      </form>
    </div>
  </div>
</section>