.inValidInput {
  cursor: default;
  opacity: 0.5;
}

/* loader */
.dot-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 1.5em;
  font-size: 1rem;
}

.dot-loader span {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dot-loader span:nth-child(1) {
  animation-delay: 0s;
}
.dot-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.dot-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  40% {
    transform: scale(1.4);
    opacity: 1;
  }
}

/* Tooltip container styles */
.tooltip-container {
  position: relative;
  display: inline-block;
  /* margin-top: 10px; */
  width: fit-content;
}

.info-icon {
  background-color: #ccc;
  color: black;
  border-radius: 50%;
  font-size: 8px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  display: inline-block;
}

/* Tooltip text hidden by default */
.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* position above the icon */
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.25rem;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%; /* bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

/* Show the tooltip on hover */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
