<section
  class="relative bg-[#E76F51] text-white flex justify-center items-center h-[170px] sm:h-[210px] md:h-[250px] lg:h-[300px] px-4 sm:px-6"
  style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <!--Background Animation Canvas-->
  <canvas id="particles" class="absolute top-0 left-0 w-full h-full"></canvas>
  <!--Section Content-->
  <div class="relative flex flex-col sm:flex-row justify-between items-center w-full max-w-6xl px-4 sm:px-6 z-10">
    <!--Heading-->
    <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-center sm:text-left mb-4 sm:mb-0">
      {{ headingText }}
    </h2>
    <!--Button-->
    <button [routerLink]="['/contactUs']"
      class="expert hover:text-[#000] font-medium rounded-full transition-all duration-300
    flex items-center justify-center w-[10rem] h-[2.75rem] sm:w-[11rem] sm:h-[3rem] md:w-[12rem] md:h-[3.25rem] mt-4 sm:mt-0">
      <span>Get In Touch <span class="text-lg ml-2">→</span></span>
    </button>

  </div>
</section>