<section class="py-16 px-4 bg-white">
    <div class="max-w-6xl mx-auto">
        <!-- Small Heading -->
        <div class="text-center fade-up">
            <!-- Main Heading -->
            <h2 class="text-4xl font-semibold mt-2">
                Reach Out To <em class="italic">Us</em>
            </h2>
            <!-- Subtitle / Paragraph -->
            <p class="mt-4 text-lg text-[#000000]">
                Your questions and concerns are important to us, and we’re dedicated
                to providing you with prompt and helpful responses. Whether you’re
                inquiring about a service, need assistance with a product, or simply
                want to share your thoughts.
            </p>
        </div>

        <!-- Cards Wrapper -->
        <div class="mt-12 grid grid-cols-1 md:grid-cols-3 gap-8">

            <div class="group fade-up bg-[#f6f9fb] shadow-md p-6 rounded-lg flex flex-col items-start">

                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M12 14C14.2091 14 16 12.2091 16 10C16 7.79086 14.2091 6 12 6C9.79086 6 8 7.79086 8 10C8 12.2091 9.79086 14 12 14Z"
                        stroke="#2A9D8E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M4.71969 15.1254C4.72771 15.1354 4.73591 15.1452 4.74431 15.1549L11.2443 22.6549C11.4343 22.8741 11.71 23 12 23C12.29 23 12.5657 22.8741 12.7557 22.6549L19.2557 15.1549C19.2641 15.1452 19.2723 15.1354 19.2803 15.1254C19.8871 14.3683 20.3283 13.6131 20.611 12.7604C20.8921 11.9121 21 11.0166 21 10C21 7.61305 20.0518 5.32387 18.364 3.63604C16.6761 1.94821 14.3869 1 12 1C9.61305 1 7.32387 1.94821 5.63604 3.63604C3.94821 5.32387 3 7.61305 3 10C3 11.0166 3.10786 11.9121 3.38904 12.7604C3.67169 13.6131 4.11294 14.3683 4.71969 15.1254Z"
                        stroke="#2A9D8E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <h3 class="text-lg font-semibold mt-4 text-[#2A9D8E]">
                    Address
                </h3>

                <p class="text-[black] mt-2 font-semibold">North America:</p>
                <p class="text-black text-xs">Headquarters (D.C. Metro Area) Chantilly, VA, 20151</p>

                <p class="text-black mt-2 font-semibold">India:</p>
                <p class="text-black text-xs">North Plaza, Ahmedabad, Gujarat, India</p>

            </div>

            <div class="group fade-up bg-[#f6f9fb] shadow-md p-6 rounded-lg flex flex-col items-start">

                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M5 4H9L11 9L8.5 10.5C9.57096 12.6715 11.3285 14.429 13.5 15.5L15 13L20 15V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21C14.0993 20.763 10.4202 19.1065 7.65683 16.3432C4.8935 13.5798 3.23705 9.90074 3 6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4Z"
                        stroke="#2A9D8E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <h3 class="text-lg font-semibold mt-4 text-[#2A9D8E]">
                    Phone support
                </h3>

                <p class="text-[#000000] mt-2 font-semibold">North America:</p>
                <p class="text-[#000000] text-xs">+1.202.779.9090</p>

                <p class="text-[#000000] mt-2 font-semibold">India:</p>
                <p class="text-[#000000] text-xs">+91 7567875757</p>

            </div>

            <div class="group fade-up bg-[#f6f9fb] shadow-md p-6 rounded-lg flex flex-col items-start">

                <!-- <img src="images/logo 3.png" alt="Data Protection" /> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path
                        d="M3.75 8.75C3.75 8.08696 4.01339 7.45107 4.48223 6.98223C4.95107 6.51339 5.58696 6.25 6.25 6.25H23.75C24.413 6.25 25.0489 6.51339 25.5178 6.98223C25.9866 7.45107 26.25 8.08696 26.25 8.75V21.25C26.25 21.913 25.9866 22.5489 25.5178 23.0178C25.0489 23.4866 24.413 23.75 23.75 23.75H6.25C5.58696 23.75 4.95107 23.4866 4.48223 23.0178C4.01339 22.5489 3.75 21.913 3.75 21.25V8.75Z"
                        stroke="#2A9D8E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.75 8.75L15 16.25L26.25 8.75" stroke="#2A9D8E" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <h3 class="text-lg font-semibold mt-4 text-[#2A9D8E]">
                    Email us
                </h3>
                <p class="text-[#000000] mt-2 font-semibold">North America:</p>
                <p class="text-[#000000] text-xs">hello&#64;infinnium.com</p>

                <p class="text-[#000000] mt-2 font-semibold">India:</p>
                <p class="text-[#000000] text-xs">hello&#64;infinnium.com</p>
            </div>

        </div>
    </div>
</section>
