<div class="bg-[#ffffff] text-white w-full">
  <app-header></app-header>
  <app-products-hero-section [product]="'4ig'"></app-products-hero-section>
  <app-products-4ig-product></app-products-4ig-product>
  <app-products-4ig-list></app-products-4ig-list>
  <app-products-4ig-advantages></app-products-4ig-advantages>
  <app-products-4ig-features></app-products-4ig-features>
  <app-trusted-leaders></app-trusted-leaders>
  <app-footer></app-footer>
  <app-scroll-to-top></app-scroll-to-top>
  <app-scroll-indicator></app-scroll-indicator>
</div>
