.container1 {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.button-container {
  margin: 0px;
  padding: 2px 0px;
}

::ng-deep .mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 16px;
}
.demo-row-is-hovered {
  background-color: rgba(0, 0, 255, 0.1); /* Light blue background */
}

.titleContainer span,
.descriptionContainer span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  max-height: 3.8em; /* 2 lines */
  white-space: normal;
  word-break: break-word;
}
