<section class="bg-[#ffffff] text-[#12423C] py-16 px-6 sm:px-6 lg:px-8"
  style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-4xl font-semibold mb-20 tracking-wide text-center">
      Features
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-12 gap-y-12">
      <!-- Feature Item 1 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="on-premise-or-in-the-cloud.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Flexible Deployment</h3>
          <p class="text-[#12423C] mt-2">
            Deploy the platform in cloud, on-premises, or hybrid environments to adapt to organizational needs and
            infrastructure.
          </p>
        </div>
      </div>

      <!-- Feature Item 2 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="comprehensive-audit-reporting.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Advanced Review Capabilities</h3>
          <p class="text-[#12423C] mt-2">
            Leverage powerful tools to quickly analyze breached data, identify affected individuals, and streamline the
            review process.
          </p>
        </div>
      </div>

      <!-- Feature Item 3 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="tag-track-and-secure.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">High Data Security</h3>
          <p class="text-[#12423C] mt-2">
            Protect breached data with robust encryption and secure access controls, ensuring sensitive information
            remains safeguarded.
          </p>
        </div>
      </div>

      <!-- Feature Item 4 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="cohesive-search-discovery.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Automate Entity & Sensitive Data Identification</h3>
          <p class="text-[#12423C] mt-2">
            Automatically detect and categorize personal information and sensitive data within breached datasets.
          </p>
        </div>
      </div>

      <!-- Feature Item 5 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="information-transformation.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Highly Scalable</h3>
          <p class="text-[#12423C] mt-2">
            Handle data breach reviews of any size, scaling efficiently to accommodate large volumes of compromised data
          </p>
        </div>
      </div>

      <!-- Feature Item 6 -->
      <div class="space-y-4 sm:flex sm:items-start sm:gap-4 text-left">
        <div class="w-16 h-16 flex-shrink-0">
          <img src="fast and easy notification list creation.png" alt="">
        </div>
        <div>
          <h3 class="text-2xl font-semibold">Fast & Easy Notification List Creation</h3>
          <p class="text-[#12423C] mt-2">
            Generate accurate notification lists quickly and efficiently, ensuring timely communication with affected
            individuals.
          </p>
        </div>
      </div>



    </div>
  </div>
  <div class="mt-12 grid grid-cols-1" data-aos="fade-up" data-aos-duration="800">
    <div class="w-full h-[1px] bg-[#9BAAB0]"></div>
  </div>

  <div #countUpElements class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-16 text-center mr-8">
    <div data-aos="fade-up" data-aos-delay="200">
      <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="50">0 +</h3>
      <p class="text-[#000000]">Data Connectors</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="300">
      <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="600">0+</h3>
      <p class="text-[#000000]">PXI Definitions</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="400">
      <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="1500">0 +</h3>
      <p class="text-[#000000]">Retention Policies</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="500">
      <h3 #countUp class="text-3xl font-bold text-[#000000] count-up" data-count="10">0 +</h3>
      <p class="text-[#000000]">Pbs Data Under Management</p>
    </div>
  </div>
</section>
