<div class="container1">
    <div class="login-card">
        <!-- Decorative elements -->
        <div class="decorative-circle top-left"></div>
        <div class="decorative-circle bottom-right"></div>
        <div class="decorative-circle top-right"></div>
        <div class="decorative-circle bottom-left"></div>

        <div class="card">
            <!-- Header -->
            <div class="header">
                <div class="header-overlay"></div>
                <div class="header-content">
                    <div class="title d-flex align-items-center justify-content-center">
                        <div class="logoContainer ms-2">
                            <img src="infinnium_white.svg" alt="infi_logo" height="80px" width="160px"
                                class="companyLogo mx-auto">
                        </div>
                    </div>
                    <p class="ms-2">Admin Login</p>
                </div>
            </div>

            <!-- Form -->
            <div class="form-container">
                <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">User email <span class="text-danger">*</span></label>
                        <div [ngClass]="isSubmitted && loginForm.get('email')?.invalid ? invalidStyle : baseStyle">
                            <div class="input-icon">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            <input id="email" name="email" type="email" autocomplete="email" required
                                placeholder="you@example.com" formControlName="email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <div [ngClass]="isSubmitted && loginForm.get('password')?.invalid ? invalidStyle : baseStyle">
                            <div class="input-icon">
                                <i class="fa-solid fa-lock"></i>
                            </div>
                            <input id="password" name="password" type="password" autocomplete="current-password"
                                required placeholder="••••••••" formControlName="password" />
                        </div>
                    </div>

                    <div class="form-submit">
                        <button type="submit" id="login-button">
                            Log in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="isVisible" class="validation-container">
        <div *ngIf="isLogin === false"
            class="fixed bottom-6 left-1/2 transform -translate-x-1/2 bg-red-600 text-white px-6 py-3 rounded-xl shadow-lg z-50 inline-block text-center">
            <p class="text-sm">{{ message }}</p>
        </div>
    </div>
</div>