<section class="scroll-bg-transition py-16 px-6 md:px-12 lg:px-24" style="font-family: 'Manrope', 'Open Sans', sans-serif">
  <div class="max-w-6xl mx-auto">
    <!-- Section Title -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <!-- Left: Heading & Paragraph -->
      <div class="fade-in-left"  #observeSection>
        <h2 class="text-4xl font-semibold text-[#12423C] mb-6 text-left">
         Data Disposition
        </h2>
        <p class="mt-4 text-lg text-[#1E2D2F]">
         Unlock the power to effortlessly manage your data with 4iG’s cutting-edge Data Disposition module. Designed to
        empower organizations to streamline their data governance processes, Data Disposition automates the examination
        of vast data volumes on a schedule of your choosing. With customizable criteria, you can identify and take
        action on data that matters most to your organization’s success. It enables you to automate sifting through
        large volumes of data from 50+ disparate sources through connectors quickly, tailor your criteria-based actions,
        comprehensive audit trails, ROT maintenance, PII monitoring, rich reporting and much more.
        <br><br>
        Experience the future of data governance with 4iG’s Data Disposition module. Take control of your data today and
        transform the way you manage information. Elevate your organization’s efficiency, security, and compliance with
        4iG®!
        </p>
      </div>

      <!-- Right: Image -->
      <div class="flex justify-end fade-in-right" #observeSection>
        <img src="datadisposition_about.svg" alt="unifiedarchival Illustration" class="w-[30rem]">
      </div>
    </div>
  </div>
</section>

